<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>

    <link rel="stylesheet" href="stylesheets/index/index.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Homepage</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <section class="backimg">
        <div class="filter"></div>

        <!-- 選擇幣別 -->
        <div class="currency_choose">
          <div class="selectitem">
            <form action="/" method="post" id="currency_form">
              <select
                class="form-select"
                aria-label="Default select example"
                name="currency_id"
                onchange="change_currency()"
              >
                <option value="1">SELECT CURRENCY</option>
                <option value="1">美金(USD)</option>
                <option value="2">港幣(HKD)</option>
                <option value="3">英鎊(GBP))</option>
                <option value="4">澳幣(AUD)</option>
                <option value="5">加拿大幣(CAD)</option>
                <option value="6">新加坡幣(SGD)</option>
                <option value="7">瑞士法郎(CHF)</option>
                <option value="8">日圓(JPY)</option>
                <option value="9">南非幣(ZAR)</option>
                <option value="10">瑞典幣(SEK)</option>
                <option value="11">紐元(NZD)</option>
                <option value="12">泰幣(THB)</option>
                <option value="13">菲國比索(PHP)</option>
                <option value="14">印尼幣(IDR)</option>
                <option value="15">歐元(EUR)</option>
                <option value="16">韓元(KRW)</option>
                <option value="17">越南盾(VND)</option>
                <option value="18">馬來幣(MYR)</option>
                <option value="19">人民幣(CNY)</option>
              </select>
              <!-- <button type="submit" class="btn btn-dark" id="btn_submit">
                查詢
              </button> -->

              <!-- 偷偷記錄表單傳過去的值 -->
              <div style="display: none">
                <p id="currency_id"><%= Data[0].currency_id %></p>
              </div>
            </form>

            <script>
              let a = $("#currency_id").text();
              $(`select option[value=${a}]`).attr("selected", "selected");
            </script>

            <script>
              function change_currency() {
                $("#currency_form").submit();
              }
            </script>
          </div>

          <div class="cash_or_deposit">
            <button
              type="button"
              class="btn btn-outline-success"
              id="cash_rate"
            >
              現金匯率
            </button>
            <button
              type="button"
              class="btn btn-outline-danger"
              id="deposit_rate"
            >
              即期匯率
            </button>
          </div>
        </div>

        <!-- 金額顯示 -->
        <div class="value_showing">
          <div class="currency">
            <h1><%= Data[0].currency_name %></h1>
          </div>

          <div class="value">
            <div class="buy">
              <h1>銀行買入價</h1>
              <h1 class="cash_value"><%= Data[0].cash_buy %></h1>
              <h1 class="deposit_value" style="display: none">
                <%= Data[0].deposit_buy %>
              </h1>
            </div>
            <div class="sell">
              <h1>銀行賣出價</h1>
              <h1 class="cash_value"><%= Data[0].cash_sell %></h1>
              <h1 class="deposit_value" style="display: none">
                <%= Data[0].deposit_sell %>
              </h1>
            </div>
          </div>
        </div>
        <script>
          $("#cash_rate").click(() => {
            $(".cash_value").show();
            $(".deposit_value").hide();
          });
          $("#deposit_rate").click(() => {
            $(".cash_value").hide();
            $(".deposit_value").show();
          });
        </script>
        <!-- 存放圖表數據 -->
        <div class="HistoryData" style="display: none">
          <% History_Data.forEach(e => {%>
          <div>
            <p><%= e.month %></p>
            <p><%= e.date %></p>
            <p><%= e.cash_buy %></p>
            <p><%= e.cash_sell %></p>
            <p><%= e.deposit_buy %></p>
            <p><%= e.deposit_sell %></p>
          </div>

          <% }); %>
        </div>
        <script>
          const HData = []; //總資料
          const keys = [
            "month",
            "date",
            "cash_buy",
            "cash_sell",
            "deposit_buy",
            "deposit_sell",
          ];
          let maxvalue = 0;
          let minvalue = 0;
          $(".HistoryData div").each((parentidx, parentelem) => {
            let Data_temp = {}; //暫存資料
            let idx = 0;
            $(parentelem)
              .children() //p標籤
              .each((childrenidx, childrenelem) => {
                Data_temp[keys[idx]] = childrenelem.innerHTML;

                if (childrenelem.innerHTML > maxvalue) {
                  maxvalue = childrenelem.innerHTML;
                }
                if (childrenelem.innerHTML < minvalue) {
                  minvalue = childrenelem.innerHTML;
                }
                idx++;
              });
            HData.push(Data_temp);
          });

          console.log(HData);
        </script>
        <!-- https://www.chartjs.org/docs/latest/charts/line.html -->

        <div class="chart" style="height: 300px; width: 400px">
          <canvas id="myChart" height="80px" width="100px"></canvas>
          <script>
            const labels = [
              `${HData[4].month}/${HData[4].date}`,
              `${HData[3].month}/${HData[3].date}`,
              `${HData[2].month}/${HData[2].date}`,
              `${HData[1].month}/${HData[1].date}`,
              `${HData[0].month}/${HData[0].date}`,
            ];

            const data1 = {
              labels: labels,
              datasets: [
                {
                  label: "銀行買入",
                  backgroundColor: "rgba(0, 180, 17, 0.8)",
                  borderColor: "rgba(0, 180, 17, 0.8)",
                  data: [
                    `${HData[0].cash_buy}`,
                    `${HData[1].cash_buy}`,
                    `${HData[2].cash_buy}`,
                    `${HData[3].cash_buy}`,
                    `${HData[4].cash_buy}`,
                  ],
                },
                {
                  label: "銀行賣出",
                  backgroundColor: "rgba(254, 0, 0, 0.8)",
                  borderColor: "rgba(254, 0, 0, 0.8)",
                  data: [
                    `${HData[0].cash_sell}`,
                    `${HData[1].cash_sell}`,
                    `${HData[2].cash_sell}`,
                    `${HData[3].cash_sell}`,
                    `${HData[4].cash_sell}`,
                  ],
                },
              ],
            };
            const data2 = {
              labels: labels,
              datasets: [
                {
                  label: "銀行買入",
                  backgroundColor: "rgba(0, 180, 17, 0.8)",
                  borderColor: "rgba(0, 180, 17, 0.8)",
                  data: [
                    `${HData[0].deposit_buy}`,
                    `${HData[1].deposit_buy}`,
                    `${HData[2].deposit_buy}`,
                    `${HData[3].deposit_buy}`,
                    `${HData[4].deposit_buy}`,
                  ],
                },
                {
                  label: "銀行賣出",
                  backgroundColor: "rgba(254, 0, 0, 0.8)",
                  borderColor: "rgba(254, 0, 0, 0.8)",
                  data: [
                    `${HData[0].deposit_sell}`,
                    `${HData[1].deposit_sell}`,
                    `${HData[2].deposit_sell}`,
                    `${HData[3].deposit_sell}`,
                    `${HData[4].deposit_sell}`,
                  ],
                },
              ],
            };

            const config1 = {
              type: "line",
              data: data1,
              options: {
                borderWidth: 2,
                pointBorderWidth: 2,
                plugins: {
                  legend: {
                    labels: {
                      // This more specific font property overrides the global property
                      font: {
                        weight: "bold",
                        size: 16,
                      },
                    },
                  },
                },
              },
            };
            const config2 = {
              type: "line",
              data: data2,
              options: {
                borderWidth: 2,
                pointBorderWidth: 2,
                plugins: {
                  legend: {
                    labels: {
                      // This more specific font property overrides the global property
                      font: {
                        weight: "bold",
                        size: 16,
                      },
                    },
                  },
                },
              },
            };

            //注意不能使用const 不然會出錯
            let myChart = new Chart(
              document.getElementById("myChart"),
              config1
            );

            $("#deposit_rate").click(() => {
              myChart.destroy();
              myChart = new Chart(document.getElementById("myChart"), config2);
            });
            $("#cash_rate").click(() => {
              myChart.destroy();
              myChart = new Chart(document.getElementById("myChart"), config1);
            });
          </script>
        </div>
      </section>
    </main>
  </body>
</html>
