<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/member/member.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <section class="backimg">
        <div class="filter"></div>

        <div class="overflow-auto">
          <% Data.forEach((elem , idx) => { %>
          <div>
            <form action="/member/collection/<%= elem.currency_id %>">
              <button type="submit" class="btn btn-light">
                <h4><%= elem.currency_name %></h4>
              </button>
            </form>
          </div>
          <% }) %>
        </div>

        <!-- 金額顯示 -->

        <div class="value_showing">
          <div class="currency">
            <h1><%= targetCurrency.currency_name %></h1>
          </div>

          <div class="value">
            <div class="title">
              <h1>銀行買入價</h1>
              <h1>銀行賣入價</h1>
            </div>
            <div class="cash">
              <h2><span class="badge bg-secondary">現金</span></h2>
              <h2><%= targetCurrency.cash_buy%></h2>
              <h2><%= targetCurrency.cash_sell%></h2>
            </div>
            <div class="deposit">
              <h2><span class="badge bg-secondary">即期</span></h2>
              <h2><%= targetCurrency.deposit_buy%></h2>
              <h2><%= targetCurrency.deposit_sell%></h2>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
